{% extends "base.html" %}
{% block active_module %}projects{% endblock %}
{% block page_title %}Create Project{% endblock %}
{% block page_subtitle %}Project setup{% endblock %}

{% block content %}
    <div class="container narrow-workspace">
<div class="form-box">

<h2>Create Project</h2>


<form method="POST">

<input name="project_name"
placeholder="Project Name">


<input name="region"
placeholder="Region">


<input name="company"
placeholder="Company">


<button>

Create Project

</button>


</form>


</div>
    </div>
{% endblock %}
