<!DOCTYPE html>
<html>

<head>
<title>Edit Employee</title>
</head>

<body>

<h2>Edit Employee</h2>

<form method="POST">

First Name<br>
<input name="first_name" value="{{emp[2]}}">
<br><br>

Last Name<br>
<input name="last_name" value="{{emp[3]}}">
<br><br>

Position<br>
<input name="position" value="{{emp[4]}}">
<br><br>

Email<br>
<input name="email" value="{{emp[5]}}">
<br><br>

Mobile<br>
<input name="mobile" value="{{emp[6]}}">
<br><br>

<button type="submit">
Update
</button>

</form>


<br>

<a href="/search">
Back
</a>

</body>

</html>