<!DOCTYPE html>
<html>
  <body style="font-family:Arial">
    <div style="
width:350px;
border:2px solid black;
padding:20px;
text-align:center;
">
      <h3>RUC COMPANY</h3>

      <img src="{{ emp.2 }}" width="120" />

      <br /><br />

      <b>{{ emp.0 }} {{ emp.1 }}</b>

      <br /><br />

      ID Number:

      <b>{{ id_number }}</b>

      <br /><br />

      Expiry:

      <b>{{ expiry }}</b>

      <br /><br />

      <button onclick="window.print()">Print ID</button>
    </div>
  </body>
</html>
