{% extends "base.html" %}
{% block active_module %}id_management{% endblock %}
{% block page_title %}ID Management{% endblock %}
{% block page_subtitle %}Employee ID card workflow{% endblock %}

{% block content %}
<div class="container">
      <h2>Generate Employee ID</h2>

      <div class="grid">
        {% for emp in employees %}
          <div class="employee-box">
            {% if emp.photo %}
              <img class="photo" src="{{ url_for('employee_file', employee_id=emp.id, file_kind='photo') }}" />
            {% endif %}
            <h3>{{ emp.first_name }} {{ emp.last_name }}</h3>
            <p>{{ emp.telecom_role or emp.position }}</p>
            <p>DUID: {{ emp.assigned_du_id or '-' }}</p>
            <span class="status {{ emp.overall_safety_status|lower|replace(' ', '-') }}">{{ emp.overall_safety_status }}</span>
            <br /><br />
            <a class="btn-small" href="{{ url_for('employee_dossier', employee_id=emp.id) }}">View Dossier</a>
            {% if emp.project_code %}
              <a class="btn" href="/generate_id/{{ emp.project_code }}/{{ emp.id }}">Generate ID</a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
