{% extends "base.html" %}
{% block active_module %}reports{% endblock %}
{% block page_title %}Project Report{% endblock %}
{% block page_subtitle %}Select a project{% endblock %}

{% block content %}
<div class="container">
      <div class="form-box wide">
        <h2>Select Project</h2>
        <form method="GET" class="filter-grid">
          <select name="project_id" required>
            <option value="">Select Project</option>
            {% for project in projects %}
              <option value="{{ project.id }}">{{ project.project_name }} - {{ project.project_code }}</option>
            {% endfor %}
          </select>
          <button type="submit">Open Project Report</button>
        </form>
      </div>
    </div>
{% endblock %}
