<!DOCTYPE html>
<html>
  <head>
    <title>Employee Search</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>

  <body>
    <div class="topbar">
      <img class="logo" src="{{ url_for('static', filename='images/ruc_logo.png') }}" />

      Employee Search
    </div>

    <div class="menu">
      <a href="/dashboard">Dashboard</a>
      <a href="/create_project">Create Project</a>
      <a href="/search">Search</a>
      <a href="/id_generator">ID Generator</a>
      <a href="/logout">Logout</a>
    </div>

    <div class="container">
      <h2>Search Employees</h2>

      <div class="form-box">
        <form method="POST">
          <input name="search" placeholder="Enter Name or Email" />

          <button type="submit">Search</button>
        </form>
      </div>

      {% if employees %}
        <br />

        <h2>Results</h2>

        <table>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Project</th>
            <th>ID</th>
          </tr>

          {% for emp in employees %}
            <tr>
              <td>{{ emp.1 }} {{ emp.2 }}</td>

              <td>{{ emp.3 }}</td>

              <td>{{ emp.4 }}</td>

              <td>{{ emp.5 }}</td>

              <td>{{ emp.6 }}</td>

              <td>
                <a href="/generate_id/{{ emp.6 }}/{{ emp.0 }}">Generate ID</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    </div>
  </body>
</html>
